body {
  height: 100%;
  width: 100%;
  color: white;
  background-color: black;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Lobster Two', cursive;
}

h2 {
  text-align: center;
  font-size: 40px;
}

p {
  text-align: center;
  font-size: 30px;
}

button {
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
  color: white;
  padding: 11px;
  background-color: transparent;
  transition-duration: 0.4s;
  float: left;
  border: none;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button:hover {
  background-color: #00091a; 
  color: white;
}

.buttons {
  display: flex;
  justify-content: center;
  background-color: #0f1e3e;
  border: double white 3px;
  padding: 0px;
  margin: 60px;
}

.aboutpage {
  display: none;
}

.projectpage {
  display: none;
}

.contactpage {
  display: none;
}
