html, body {
  height: 100%;
  width: 100%;
  color: white;
  background-color: black;
}

h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  text-align: center;
  font-size: 30px;
}

button {
  font-size: 20px;
  color: white;
  padding: 11px;
  background-color: transparent;
  border: none;
}

.buttons {
  display: flex;
  background-color: #001a66;
  border: double white 3px;
  padding: 5px;
  margin: 60px;
}

.aboutpage {
  display: none;
}

.projectpage {
  display: none;
}

.contactpage {
  display: none;
}